.container {
  width: 100%;
  /*height: 15rem;*/
}
.labelText {
  margin-top: 2.44rem;
  font-size: 0.34666667rem;
  font-family: SimHei sans-serif;
  text-align: center;
}
.front {
  position: relative;
  width: 5.33333333rem;
  height: 3.33333333rem;
  margin: 0.8rem auto;
  border: 2px solid #ededed;
  border-radius: 4px;
}
.front .imagesBox {
  width: 5.33333333rem;
  height: 3.33333333rem;
  line-height: 3.33333333rem;
  text-align: center;
  z-index: -1;
}
.front #frontInput {
  display: none;
}
.front .frontHolder {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.33333333rem;
  height: 3.33333333rem;
  background-image: url("../images/frontHolder.jpg");
  background-repeat: no-repeat;
  background-size: 5.33333333rem 3.33333333rem;
}
.front .uploadLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.33333333rem;
  line-height: 3.2rem;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}
#deleteButton {
  display: none;
}
